:root{
--bg1:#233e45; /* darker */
--bg2:#4b5e64; /* left */
--accent:#ffdcdc; /* light pink */
--muted:#d0d0d0;
}


*{box-sizing:border-box}
html,body,#root{height:100%}
body{
margin:0;
font-family: 'Segoe UI', Roboto, Arial, sans-serif;
background: linear-gradient(90deg, #4b4b4b 0%, #12323a 100%);
color:var(--muted);
}


/* center container look like template */
.page{
min-height:100vh;
display:flex;
align-items:flex-start;
justify-content:center;
padding-top:6vh;
}
.center{flex-direction:column; gap:16px}


.brand {
font-size:3.5rem;
color: var(--accent);
font-weight:600;
letter-spacing:2px;
}